* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header height is a variable that is set to the height of the header/nav and the top padding of the sections */
/* Various variables */
:root {
  --headerheight: 100px;
  --primarycolor: #909090;
  --secondarycolor: #bebebe;
  --highlightcolor: #888888;
  --headerprimarycolor: #acacac;
}

html {
  scroll-behavior: smooth;
  background-color: var(--primarycolor);
}

/* The font used on most of the text on the page */
.main-font {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 350;
}

/* Heading font sizes */
h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

/* Header styling */
header {
  top: 0;
  position: fixed;
  height: var(--headerheight);
  background-color: var(--headerprimarycolor);
  display: flex;
  gap: 25px;
  width: 100vw;
  z-index: 1;
}

/* Navbar styling */

nav {
  display: flex;
  gap: 25px;
  align-items: end;
}

nav a {
  background-color: var(--highlightcolor);
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Setting sections to viewport height and width with enough padding at the top so that the header doesnt block out any elements */

section {
  padding-top: var(--headerheight);
  min-height: 100vh;
  width: 100vw;
}

section:nth-child(even) {
  background-color: var(--secondarycolor);
}

/* Hero styling */

#Sec1 {
  background-image: url(images/Main-Page.png);
  background-position: 50% 50px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  padding: 0px 200px;
  color: white;
  background-color: black;
}

#Sec1 div {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Second section styling */

#Sec2 {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding-left: 20px;
}

#Sec2-main-text {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#Sec2 img {
  width: 350px;
  height: 70%;
}

#Sec2-img-text {
  height: 600px;
  width: 350px;
  margin: 20px;
  background-color: var(--highlightcolor);
}

#Sec2-img-text p {
  margin: 20px;
}

/* Third Section styling */

#Sec3 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 100px;
}
#Sec3-text {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#Sec3-img-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 350px;
}

#Sec3-bottom-img {
  position: relative;
  bottom: 50px;
  right: 50px;
}

/* Fourth section styling */

#Sec4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Sec4-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
}

.image-info {
  max-width: 350px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-info p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

/* Footer styling */

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: black;
}
