* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Various variables */
:root {
  --headerheight: 100px;
  --primarycolor: #a4a4a4;
  --secondarycolor: #bebebe;
  --highlightcolor: #727272;
  /* --highlightcolor: #b5b5b5; */
  --headerprimarycolor: #909090;
  --headerprimarycolor: black;
}

html {
  scroll-behavior: smooth;
  background-color: var(--primarycolor);
}

/* A hover effect on certain images */
.img-hover:hover {
  border: rgba(0, 0, 0, 0) 2px solid;
}

/* The main font used on the text on the page */
.main-font {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 350;
}

/* Heading styling*/
h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px;
  margin: 25px 0px;
}

h3 {
  font-size: 25px;
}

/* Styling for the big textboxes in certain sections */
.main-textbox {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Header styling */
header {
  top: 0;
  position: fixed;
  height: var(--headerheight);
  background-color: var(--headerprimarycolor);
  /* background-image: url(images/PIA11351~orig.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0px; */
  display: flex;
  gap: 25px;
  width: 100vw;
  z-index: 1;
}

/* Navbar styling */

nav {
  display: flex;
  gap: 25px;
  align-items: end;
}

nav a {
  /* background-color: var(--highlightcolor); */
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

nav a:hover {
  background-color: white;
  color: var(--highlightcolor);
}

/* Setting sections to viewport height and width with enough padding at the top so that the header doesnt block out any elements */

section {
  padding-top: var(--headerheight);
  min-height: 100vh;
  width: 100vw;
}

section:nth-child(even) {
  background-color: var(--secondarycolor);
}

/* Hero styling */

#Sec1 {
  background-image: url(images/Main-Page.png);
  background-position: 50% 50px;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  padding: 0px 200px;
  color: white;
  background-color: black;
}

#Sec1 div {
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-shadow: 2px 2px 2px black;
}

/* Second section styling */

#Sec2 {
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 20px;
}

#Sec2 img {
  width: 350px;
  height: 70%;
}

#Sec2-img-text {
  height: 600px;
  width: 350px;
  margin: 20px;
  background-color: var(--highlightcolor);
  color: white;
}

#Sec2-img-text p {
  margin: 20px;
}

/* Third Section styling */

#Sec3 {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 100px;
}

#Sec3-img-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 350px;
}

#Sec3-bottom-img {
  position: relative;
  bottom: 50px;
  right: 50px;
}

/* Fourth section styling */

#Sec4 {
  display: flex;
  flex-direction: column;
}

#Sec4 h2 {
  padding-left: 250px;
}

#Sec4-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Sec4-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  /* border: red 1px solid; */
}

.image-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: blue 1px solid; */
  max-width: 390px;
  margin: 5px 25px;
}

.image-info img {
  max-height: 225px;
}

.image-info p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

/* Footer styling */

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
}
footer img {
  height: 500px;
}
